# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code config
.vscode/

# Pytest cache
.pytest_cache/

# MyPy, Pylint
.mypy_cache/
.pylint.d/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/

# Build artifacts
build/
dist/
*.egg-info/
